@charset "utf-8";.detail_icon,.main-r dl dt,.c_cion,.gs5{background:url(../pics/deal/detail_icon07.png) no-repeat;}
.c_other,.prodetail h4 span,.prodetail-sp h4 div,.prodetail ul li,.prodetail .review dd,.prodetail .icoarr,.goods_tit li,.gs_wbg,.gs_d span,.gs_c span{background:url(../pics/deal/detail_other03.png) no-repeat;}
.proicon,a.deal-buy-btn,a.deal-add-btn,.package a{background:url(../pics/deal/pro_button11.png) no-repeat;}
.m_news{background:url(../pics/www/navcon_hot_bg19.png);background-position:-1px -677px;_background-position:0 -676px;width:76px;height:76px;position:absolute;left:-7px;_left:-8px;top:-7px;}
.hc-share li,.cont-share li,.cont-share li.deal-collection{float:left;background:url(../pics/deal/share9.png) no-repeat;margin:3px 10px 0 0;_display:inline;line-height:16px;font-family:"\5B8B\4F53";position:relative;}
a.black,a.black:hover{color:#000;}
.f30,a.f30,a.f30:hover{color:#f30;}
.main-l{width:700px;_padding-top:1px;}
.cont-share{display:inline-block;background:#fff;border: 1px solid #d7d7d7;height:28px;padding-top:5px;margin-left:5px;width:688px;border-top-left-radius: 3px;border-top-right-radius: 3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-top-left-radius:3px;-moz-border-top-right-radius:3px;}
.cont-share li a{color:#000;width:17px;height:17px;display:block;}.cont-share li a:hover{color:#06C;}
li.fx-tit{background:none;padding-left:12px;}
li.fx-sina{background-position:0 -10px;}li.fx-tengx{background-position:0 -32px;}li.fx-sohu{background-position:0 -141px;}li.fx-msn{background-position:0 -54px;}li.fx-yphone{background-position:0 -182px;}li.fx-kaixin{background-position:0 -76px;}li.fx-douban{background-position:0 -119px;}li.fx-renren{background-position:0 -134px;}li.fx-email{background-position:0 -161px;}li.fx-meili{background-position:0 -97px;}li.fx-collection{background-position:0 -201px;float:right;margin-right:0;}li.fx-collection a{width:65px;text-align:center;}li.fx-collection span{display:block;position:absolute;top:-14px;left:9px;background:url(../images/share7.gif) no-repeat 0px -219px;width:22px;height:12px;text-indent:-999em;z-index:1;}li.fx-collection a:hover{color:#f60;}
.qqmsndown{line-height:25px;font-size:14px;font-weight:bold;background:#FFF8E8;padding:0 10px 10px 10px;text-align:left;border:1px solid #FEAD78;border-width:0 1px;margin-left:30px;width:626px;}
.cont-titbox{position:relative;margin-top:-7px;}
.con-bg-t{background-position:0 -174px;height:7px;overflow:hidden;}
.con-bg-b{background-position:0 -185px;height:7px;overflow:hidden;}
.con-mid{background:url(../images/g_bgdealhm01.png) repeat-y;padding:10px 15px;_display:inline-block; position:relative;}
.con-mid h1{font:20px/30px \9ED1\4F53;padding:10px 15px;}
.deal-l{width:220px;}.deal-r{width:440px;}
.c-pro-buy{position:absolute;background-position:0 -78px;width:295px;height:93px;margin-left:-75px;display:inline; top:-1px;}
.c-pro-price{position:relative;}
.c-pro-buy .proicon,.c-probottom-buy .proicon,.c-recharge-btn,.c-exchange-btn,.c-baoming-btn{width:95px;height:52px;display:block;text-indent:-999em;position:absolute;top:12px;right:12px;　outline:none;overflow:hidden;}
.c-buy-btn{background-position:0 0;}
.c-spike-btn{background-position:-96px 0;}
.c-lottery-btn{background-position:-192px 0;}
.c-participate-btn{background-position:-288px 0;}
.c-start-btn{background-position:0 -53px;}
.c-end-btn{background-position:-96px -53px;}
.c-over-btn{background-position:-192px -53px;}
.c-recharge-btn{background-position:-384px 0;}
.c-see-btn{background-position:-384px -196px;}
.c-exchange-btn{background-position:-285px -195px;}
.c-baoming-btn{background-position:-384px -255px;}
.c-buy-num{font-size:37px;display:block;text-shadow:1px 1px 1px #4F4F4F;color:#fff;font-family:Arial;font-weight:bold;letter-spacing:-2px;padding:16px 0 0 0;width:190px;text-align:center;}.c-buy-num span{font-size:25px;padding-right:2px;}
.c-pro-discount{margin-top:85px;}.c-pro-discount td{font-family:Arial;text-align:center;line-height:22px;color:#000;}.c-pro-discount td span{display:block;font-size:14px;font-weight:bold;}.c-pro-discount td .val{text-decoration:line-through;}
.lsm-dit{padding:6px 0;border-bottom:1px solid #c9e1ff; margin:0;}
.c-pro-time,.c-pro-mode{border-top:1px solid #FFF;padding:3px 7px;_display:inline-block;}
.c-pro-time p{width:160px;text-align:center;line-height:150%;padding:6px 0 0 3px;}.c-pro-time p span{display:block;}.c-pro-time .c-hourglass{padding:8px 0 8px 10px;}
.c-pro-mode{padding:15px 7px 20px 7px;}
.c-pro-mode li{text-align:center;line-height:18px;}
.cm-over{padding-top:10px;}
.cm-mun{font-size:18px;padding:5px 0; color:#666;}.cm-mun em{color:#c50000;padding:0 6px;}
.cm-bar{padding-top:10px;}
.cm-bar dl{position:relative;padding-top:14px;width:199px;margin:0 auto;}
.cm-bar dt{position:absolute;width:14px;height:13px;background-position:0 -369px;top:0px;}
.cm-bar dd{text-align:left;}
.cm-bar dd.c_cion{width:199px;height:14px;background-position:0 -382px;overflow:hidden;}
.cm-bar dd.c_cion span{width:190px;height:6px;margin:2px 0 0 3px;background-position:-3px -397px;display:block;}
.cm-bar dd em{font-style:normal;}
li.cm-success{font:bold 14px/28px Arial;padding:10px 0 0 0;text-align:left;}
.cm-success span{background-position:-672px -367px;width:27px;height:28px;display:inline-block;padding-left:5px;vertical-align:middle;}
.cm-refund{width:175px;margin:0 auto;}
.c-pro-image{width:400px;height:280px; margin-bottom:10px;}
.c-pro-text{padding:15px 45px 22px 45px;font-size:14px;line-height:24px;background:url(../images/ico_text.gif) no-repeat;}
.luck_dbtn a.vote,.luck_dbtn a.examine_list{width:163px;height:65px;margin-left:15px;}
.pro-list-box{padding-top:5px;}
.pro-item{margin:0px;margin-top:14px;}
.pro-list-box .main-r{margin-top:19px;}
.pro-list-nav{border:1px solid #FF9F6D;padding:10px 15px;background:#fff;}
.pro-list-nav .c-n-page{bottom:10px;right:10px;}
.con-num-bg{width:75px;height:79px;position:absolute;background-position:-483px 0px;top:-15px;left:-24px;text-align:center;font:bold 32px/75px arial,黑体,宋体;z-index:2;_left:-23px;}
.pro-list-con h1{padding:10px 30px;}
.loca{background:#EFEFEF;padding:5px 10px;width:420px;height:20px;overflow:hidden;word-wrap:break-word;word-break:break-all;margin-top:6px;}
.cont-detail{width:690px;margin:10px 0 0 5px;}
.detail-bg-t{background-position:0 -280px;height:9px;overflow:hidden;}
.detail-bg-b{background-position:0 -301px;height:9px;overflow:hidden;}
.detail-mid{border:1px solid #FEAD79;border-width:0 1px;background:#fff;}
.prodetail{padding:10px 19px 20px 19px;overflow:hidden;width:650px;}
.prodetail h3{font-weight:bold;font-size:16px;color:#666;line-height:180%;margin-bottom:10px;}
.prodetail h3 span{color:#f30;font-family:Arial;}
.prodetail h4{font-weight:bold;font-size:14px;color:#fff;background:#f60;position:relative;margin:10px 0;}.prodetail h4 span,.prodetail-sp h4 div{display:block;height:35px;padding-left:10px;line-height:28px;}
.prodetail dl{color:#666;padding-bottom:10px;}
.prodetail dt{font-size:20px;font-family:"\9ED1\4F53";line-height:200%;font-weight:bold;}
.prodetail dd{line-height:180%;font-size:12px;}
.prodetail ul{padding:0px 8px 10px 8px;color:#666;font-size:14px;}
.prodetail ul li{background-position:-254px -110px;padding-left:12px;line-height:180%;}
.prodetail table{width:100%;border-collapse:collapse;border-spacing:0px;color:#666;font-size:14px;}
.prodetail table.line td,.prodetail table.line th{border:1px solid #cfcfcf;height:30px;}
.prodetail table th{background:#EDEDED;}
.prodetail p{font-size:14px;line-height:180%;margin-bottom:5px;color:#666;}
.prodetail .tc{text-align:center;}.prodetail .tl{text-align:left;}.prodetail .tr{text-align:right;}
.prodetail .ti{text-indent:28px;}
.prodetail .f12{font-size:12px;}.prodetail .f18{font-size:18px;}.prodetail .f22{font-size:22px;}.prodetail .f26{font-size:26px;}
.prodetail a{color:#666;}
.prodetail .cf60{color:#f60;}
.prodetail .icoarr{background-position:-254px -110px;padding-left:12px;}
.prodetail .review{padding-top:10px;}
.prodetail .review dt{font-size:16px;font-family:"\5B8B\4F53";}
.prodetail .review dt span{color:#f60;font-family:Arial;padding-left:10px;}
.prodetail .review dd{font-size:14px;background-position:-274px -76px;padding-left:20px;margin-top:10px;}
.review li{clear:both;background:url(ico_review.gif) no-repeat 0 2px;padding-bottom:15px;line-height:22px;padding-left:20px;text-indent:0px}
.review li span{clear:both;width:100%;text-align:right;display:block;font-size:12px;}
.detail-zbg-t{background-position:0 -313px;height:9px;overflow:hidden;}
.detail-zbg-b{background-position:0 -334px;height:9px;overflow:hidden;}
.detail-zmid{border:1px solid #FEAD79;border-width:0 1px;background:#FFFAED;display:inline-block;}
.detail-zmid .l{background:#fff;width:468px;padding-bottom:10px;overflow:hidden;}
.z-prodetail{padding:15px 19px;width:430px;}
.c-probottom-buy{position:relative;height:77px;}
.c-probottom-buy .proicon{top:7px;right:25px;}
.c-buy-bottomnum{text-align:center;color:#fff;line-height:67px;font-size:18px;font-weight:bold;padding-right:120px;}.c-buy-bottomnum strong{font-family:Arial;font-size:37px;}.c-buy-bottomnum em{font-size:25px;padding:0px 2px 0 6px;font-style:normal;font-family:Arial;}
.company{padding:15px;width:190px;font-size:12px;line-height:20px;overflow:hidden;}
.company h3{font-size:14px;line-height:30px;font-weight:bold;}
.com_adr li a{padding:3px 5px;line-height:18px;width:175px;display:block;text-decoration:none;}
.com_adr li span{color:#333;display:block;}
.com_adr li a:hover{background:#fbde91;-moz-border-radius:5px 5px 5px 5px;color:#473317;text-decoration:none;}
.c-browse-b{width:690px;margin:20px 0 0 5px;}
.c-browse-b dt{height:30px;line-height:30px;color:#FFF;background:#ff6600;width:170px;font-size:16px;font-weight:bold;text-align:center;}.c-browse-b dd{border:1px solid #FEAD79;background:#fff;display:inline-block;padding:10px 0;overflow:hidden;}
.c-browse-b dd ul{float:left;padding-left:22px;}
.goods-bg-t{background-position:0 -408px;height:35px;overflow:hidden;}.goods-bg-t h3{font-size:14px;font-weight:bold;padding:9px 6px 0 20px;}
.goods-tr{padding:10px 20px 0 0;}.goods-tr b{color:#BE0000;padding:0 4px;}
.goods-list{width:663px;margin:0 auto;padding:12px 0 20px 0;position:relative;}.goods-list dl{border:1px solid #E0E0E0;_display:inline-block;}.goods-list dt{height:31px;line-height:31px;background-position:0 -446px;position:relative;padding-left:12px;}.goods-list dt span{position:absolute;top:0;right:14px;display:block;}.goods-list dd{padding-bottom:15px;}
.goods-f{overflow:hidden;display:inline-block;}.goods-f li{padding-left:15px;float:left;}
.gs-tab{border:1px solid #e4e4e4;width:307px;}
.goods-f table th{text-align:left;height:24px;line-height:24px;color:#666;background:#f3f3f3;font-weight:normal;}.goods-f table th span{display:block;width:13px;height:15px;background-position:-605px -366px;float:left;margin:5px 5px 0 10px;overflow:hidden;display:inline-block;}
.gs-fbox{width:190px;}.gs-fbox td{padding:4px 0;}.gs-fbox .gs5{border:1px solid #D7D7D9;background-position:0 -488px;height:9px;width:128px;margin-left:5px;overflow:hidden;position:relative;}.gs-fbox .gs5 span{background-position:0 -478px;height:9px;width:128px;display:block;overflow:hidden;}
.goods-down,.goods-up{width:45px;height:20px;line-height:20px;text-indent:5px;cursor:pointer;float:right;}
.goods-down{background-position:-550px -366px;}.goods-up{background-position:-550px -387px;}
.gs_starBg,.gs_starBg li{background:url(../pics/deal/start.png);left:0;height:19px;}
.gs_starBg{background-position:0 -19px;top:8px;padding:0px;}
.gs_starBg li{background:url(../pics/deal/start.png);position:absolute;top:0;}
.goods-list dl.goods-txt{border:none; margin:0 15px;}
.goods-txt dd{border-bottom:1px solid #E9E9E9; padding:10px 0;}
.goods-txt dd p{ color:#404040; line-height:160%; margin-bottom:5px;}
.goods-txt dd p.cmtInfo,.goods-txt dd .goods-back p.cmtInfo{ color:#999;}.goods-txt dd p.cmtInfo span{ padding-right:12px;}
.goods-back{ border:1px solid #F3E6C6; background:#FFFCF5; padding:10px 10px 5px 10px;}
.goods-txt dd .goods-back p{ color:#D75307;}
.goods_tit{position:absolute;top:13px;}
.goods_tit li{background-position:0 -166px;width:89px;height:48px;float:left;margin-right:2px;}.goods_tit li.cur{background-position:-90px -166px;}
.goods_tit li a{display:block;height:48px;text-align:center;line-height:48px;font-size:14px;color:#656565;}.goods_tit li.cur a{color:#FE9003;font-weight:bold;}.goods_tit li a:hover{text-decoration:none;color:#FE9003;font-weight:bold;}
.goods_con2 dd{padding:0;}
.goods_wall{width:197px;border:1px solid #E4E4E4;border-width:0 1px;margin-right:4px;padding:0 10px;vertical-align:top;}
.goods_wall li{margin-top:10px;color:#666;}.gs_txt p{line-height:160%;}.goods_wall ul{border-bottom:1px dotted #E4E4E4;padding-bottom:60px;margin-bottom:8px;}
.gsml0{border-left:none;}.gsmr0{border-right:none;margin:0;}
.gs_wbg{background-position:-60px -240px;height:15px;}
.gs_wbg div{background-position:-60px -224px;top:0px;}
.gs_name,.gs_date{text-align:right;}.gs_date{color:#A1A1A1;}.gs_cent{padding:10px 0 0 20px;}
.gs_d{margin-right:10px;}
.gs_d,.gs_c{display:block;position:relative;float:left;line-height:24px;color:#797979;}.gs_d:hover,.gs_c:hover{text-decoration:none;}
.gs_d span,.gs_c span{background-position:0 -224px;width:23px;height:26px;display:block;float:left;padding-right:3px;}.gs_c span{background-position:-24px -224px;}
.gs_tip{background:#f6f6f6;border:1px solid #E0E0E0;border-width:0 1px 1px 1px;padding:12px 10px;}
.main-r{width:240px;}
.main-r dl,.side-pic{border:1px solid #FEAE7A;background:#FFF;margin-bottom:10px;}
.main-r dl dt{background-position:0 -194px;}
.main-r dl dt strong{font-size:14px;line-height:31px;height:31px;padding-left:19px;}
.side-prolist,.side-txtlist,.more_zuji,.shou_zuji{width:200px;margin:6px auto;overflow:hidden;}
.side-prolist li{border-top:1px dashed #ccc;padding:9px 0 14px 0;margin-top:-1px;}
.side-prolist li a{color:#666;}.side-prolist li a:hover{color:#999;text-decoration:underline;}
.side-prolist h2{font-size:14px;line-height:150%;}
.side-buybox{background:#f5f5f5;height:36px;}
.s-b-num{font-size:14px;font-weight:bold;padding:10px 0 0 10px;}.s-b-num strong{color:#cc3433;}
.s-b-see{background-position:0 -104px;width:60px;height:32px;text-indent:-999em;margin:3px 3px 0 0;}.s-b-see a{display:block;height:32px;}
.side-txtlist{margin-top:0px;padding-top:5px;}
.side-txtlist li{line-height:200%;color:#666;}
.s_imgr{background:url(../images/s_imgr.jpg) no-repeat bottom right;}.s_imgr a,.s_imgr a:hover{width:115px;display:block;color:#6c6c6c;line-height:160%;}
.side-online{padding:15px 0 0 0;}
.side-online a{margin:0 0 15px 16px;display:inline-block;}
.zhuji_hide{display:none;}
.more_zuji,.shou_zuji{border-top:1px solid #CBD1DB;}
.shou_zuji a,.more_zuji a{display:block;float:right;padding-right:20px;margin:5px 0;}
.shou_zuji a{background:url(../images/zuji_more_cion.jpg) 50px -16px no-repeat;}
.more_zuji a{background:url(../images/zuji_more_cion.jpg) 50px 3px no-repeat;}
.side-gz,.side-gz-ls,.side-beauty-txt,.side-beauty-email{width:200px;margin:10px auto;overflow:hidden;font-family:"\5B8B\4F53";}
.side-gz li{margin-bottom:8px;_display:inline-block;}
.gz-qzone,.gz-kaixi,.gz-lsof{overflow:hidden;}
.gz-qzone span,.gz-qzone em,.gz-qzone em a{background:url(http://qzs.qq.com/qzonestyle/qzone_app/qzone_open/like_bg.png?max_age=19830211&d=0831222831?max_age=19830211&d=0901104916) no-repeat;display:block;float:left;height:21px;line-height:21px;}
.gz-qzone span{width:50px;margin-right:3px;}.gz-qzone span a{display:block;padding-left:22px;}.gz-qzone a:hover{text-decoration:none;}
.gz-qzone em{background-position:0 -106px;font-style:normal;}.gz-qzone em a{background-position:right -105px;margin-left:8px;padding-right:5px;_display:inline-block;}
.gz-qq{line-height:18px;line-height:18px;}
.gz-kaixi span{display:block;float:left;width:103px;height:23px;cursor:pointer;}
.gz-kaixi span.kx_add{background:url(http://img1.kaixin001.com.cn/i3/platform/fanbtn.png) no-repeat;}
.gz-kaixi span.kx_del{background:url(http://img1.kaixin001.com.cn/i3/platform/fanbtn_del.png) no-repeat;}
.gz-kaixi em,.gz-kaixi em a{background:url(http://img1.kaixin001.com.cn/i3/platform/bg_zan.gif) no-repeat 0 -120px;float:left;display:block;height:18px;line-height:18px;}
.gz-kaixi em{font-style:normal;margin:2px 0 0 4px;}
.gz-kaixi em a{background-position:right -120px;margin-left:8px;padding-right:5px;_display:inline-block;}
.side-gz-ls{border-top:1px dotted #e3e3e3;}
.gz-lsof .gz-lsbox{display:block;float:left;width:86px;text-align:center}
.gz-lsbox span a{display:block;position:relative;width:56px;height:56px;border:2px solid #A8DE86;margin:0 auto;}
.gz-lsbox span a .checkbimg{position:absolute;background:url(http://timg.sjs.sinajs.cn/t35/style/images/thridpart/csuser/checkbox.gif) 0 -12px no-repeat;right:0px;bottom:0px;z-index:1;display:block;width:12px;height:12px;}.gz-lsbox span a.current .checkbimg{background-position:0 0;}
.gz-lsbox span a img{border:1px solid #CCC;padding:2px;width:50px;height:50px;}
.gz-lsname{display:block;margin-top:6px;text-align:center;height:12px;line-height:12px;}.gz-lsname img{vertical-align:middle;}
.approve_co{background:url(http://img.t.sinajs.cn/t4/style/images/common/ico.png) no-repeat 0 -232px;width:14px;height:12px;}
.gz-btn,.gz-btn a{background:url(http://timg.sjs.sinajs.cn/t35/style/images/thridpart/newbtnbg.png) no-repeat;display:inline-block;height:27px;line-height:27px;}
.gz-btn{background-position:0 -246px;margin:15px 0 10px 50px;padding-left:20px;display:block;}
.gz-btn a{background-position:right -273px;font-size:14px;color:#fff;padding-right:20px;}.gz-btn a:hover{text-decoration:none;color:#fff;}
.gz-reg-wb{font-size:14px;text-align:center;padding-bottom:10px;}
.ms_itime1{font:18px/30px Arial;height:30px;padding:5px 0;}
.ms_itime1 em{background-position:-635px -366px;width:30px;height:30px;display:block;float:left;padding-right:5px;}
.ms_text{padding:15px 7px 25px 7px;}
.cm-mun b{font-size:24px;color:#C51800;font-family:Arial;}
.bea-content{border:2px solid #cbd1db;padding:5px 5px 15px 5px;background:#FFF;}
.bea-banner{margin-bottom:10px;}
.bea-list{margin:20px 10px 0 10px;padding:0;}
.bea-pic{position:relative;}
.bea-num{position:absolute;z-index:3;bottom:6px;right:6px;}
.bea-num li{float:left;}
.bea-num li a{float:left;color:#666;width:20px;height:20px;position:relative;line-height:18px;text-align:center;margin-right:3px;cursor:pointer;background:#000000;text-decoration:none;}
.bea-num li.current a,.bea-num li.hover a{background:#e5004f;color:#fff;font-weight:bold;height:20px;line-height:20px;}
.bea-logo-list{width:203px;}
.bea-logo-list li{border:1px solid #d9dde0;width:94px;height:40px;overflow:hidden;margin:5px 0 0 5px;float:left;display:inline;}
.bea-r-pic{margin-left:5px;}
.hzp_dw{position:relative;height:27px;padding-top:15px;}.hzp_dw ul{padding-left:15px;position:absolute;z-index:10;height:27px;}.hzp_dw li{float:left;padding-left:6px;}.hzp_dw a{display:block;width:110px;height:27px;line-height:27px;text-align:center;font-size:14px;color:#666;}.hzp_dw span{border-bottom:1px solid #FEC59F;width:688px;display:block;position:absolute;bottom:0px;}
a.action_visted2,a.action_visted2:hover,a.action_rxxk:hover{background-position:-474px -194px;text-decoration:none;color:#FF7500;font-weight:bold;}a.action_rxxk{background-position:-590px -194px;}
.side-beauty-txt b{color:#ff0000;line-height:200%;}.side-beauty-txt p,.side-beauty-txt td{line-height:180%;color:#666;}.side-beauty-txt td{padding-bottom:10px;}.side-beauty-txt p strong{color:#F30;}
.s-b-etxt{background:url(../pics/deal/ico_hzp.gif) no-repeat;}.s-b-etxt span{display:block;padding-left:50px;line-height:180%;font-size:14px;color:#666;}
.s-b-input{padding:10px 0 5px 0}.s-b-input input{vertical-align:middle;height:21px;line-height:21px;}.intrss{color:#666;border:1px solid #ccc;width:140px;}.s-b-input input.btnrss{width:48px;color:#fff;border:1px solid #E64B00;background-color:#F97520;border-color:#FF863E #E64B00 #E64B00 #FF863E;height:23px;line-height:21px;cursor:pointer;}
.tupwz h3{font-size:28px;text-align:center;margin:10px 0 30px 0;font-family:"\9ED1\4F53";color:#333;}
.tupwz .hzp_th_tit{color:#000;margin:10px 0 8px 0;font-weight:bold;}
.housewap{background:url(../pics/imgtemp/channel_house_bg.jpg) repeat-x;margin-top:-10px;padding-top:13px;position:relative;}
.hs_pic,.hs-cont-tit a{background:url(../pics/deal/deal_house0302.png) no-repeat;}
.hs_cion{background:url(../pics/deal/deal_house_tb.png) no-repeat;}
.house-content{width:968px;margin:0 auto;position:relative;}
.h-sharebox{width:900px;margin:0 auto;border:1px solid #FEAD78;background:#FFF8E6;}
.hc-share{height:30px;line-height:30px;padding:6px 15px 0 0;float:right;}.hc-share li a{color:#000;width:17px;height:17px;display:block;}.hc-share li a:hover{color:#06C;}
.house-t-input{padding:6px 0 0 15px;float:left;}.house-t-input .intrss{color:#666;border:1px solid #ccc;border-color:#e4e4e4 #999 #999 #e4e4e4;width:180px;}.house-t-input .btnrss{width:42px;height:22px;line-height:22px;background-position:-271px -74px;border:none;color:#711001;}
.house-t400{padding:6px 0 0 50px;line-height:22px;display:block;position:relative;}.house-t400 b{font-size:16px;font-family:'\9ED1\4F53';color:#ff6600;padding-left:146px;}.house-t400 em{background-position:0px -145px;display:block;position:absolute;width:150px;height:32px;top:0px;left:105px;}
.house-t-input input{vertical-align:middle;height:21px;line-height:21px;}
.h-qqmsndown{line-height:25px;font-size:14px;font-weight:bold;padding:0 10px 10px 10px;text-align:left;}
.hs-deal-l{width:240px;}.hs-deal-r{width:675px;}
.house-titbox{position:relative;margin-top:-10px;}
.hscon-bg-t{background-position:0 0;height:15px;}.hscon-bg-b{background-position:0 -20px;height:17px;}
.hscon-mid{background:url(../pics/deal/deal_house_bg.png) repeat-y;padding:10px 22px;_display:inline-block;}
.hscon-mid h1,.hscon-mid h1 a,.hscon-mid h1 a:hover{font:20px/30px \9ED1\4F53;color:#000;}
.hscon-mid h1{padding:0 15px 10px 15px;}
.c-pro-buy .h-participate-btn{background-position:-288px -53px;width:185px;right:32px;}
.hs-pro-price{position:relative;border:1px solid #7ACCF6;background:#CFEEF6;}.c-pro-discount .f60{color:#f60;font-size:18px;}
.hs-pro-time{overflow:hidden;padding:10px 0 7px 8px;_display:inline-block;}.hs-pro-time span{display:block;background-position:-281px -32px;width:32px;height:32px;float:left;margin:2px 5px 0 0;}.hs-pro-time ul{float:left;}.hs-pro-time ul li{line-height:160%;color:#333;}
.hs-pro-buy{margin-left:-55px;}.hs-pro-buy .c-buy-num{text-align:left;padding-left:50px;}
.img_b_list{float:left;width:675px;height:468px;display:inline;overflow:hidden;position:absolute;}.img_b_list li,.img_b_list img{float:left;}
.img_m_list{position:absolute;left:0px;top:378px;width:683px;height:90px;overflow:hidden;background-color:#000;z-index:100;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}
.focus{position:relative;width:675px;height:468px;overflow:hidden;display:inline-block;}.focus .tit{float:left;height:48px;overflow:hidden;float:left;width:295px;overflow:hidden;padding:15px 0 0 35px;line-height:24px;font-family:"Microsoft YaHei", SimHei;display:block;}.focus .tit h3{font-size:18px;color:#ff5400;}.focus .tit p{color:#fff;font-size:24px;}.focus .focus_div{position:absolute;left:0;top:378px;z-index:200;}.focus .focus_ul{position:absolute;right:20px;top:388px;z-index:230;}.focus .focus_ul li{float:left;width:100px;height:68px;padding:5px 2px 2px;margin:0 7px 0 0;display:inline;cursor:pointer;}.focus_div .none{display:none;}.focus .focus_ul .cur{background:url(../pics/deal/f_li_cur1.png) left top no-repeat;}.focus .focus_ul img{float:left;}
.hs-pro-mode{position:relative;height:218px;border: 1px solid #FEAE7A;background: #FFF4DF;margin-top: 8px;padding: 12px 7px 0px 7px;}.hs-pro-mode span{background-position:0 -74px;width:69px;height:68px;display:block;position:absolute;left:0;top:0;}.hs-pro-mode dt{font-weight:bold;height:40px;font-size:14px;padding:25px 0 0 20px;line-height:140%;text-indent:20px;}.hs-pro-mode dd{line-height:180%;}
.hs-content{width:950px;margin:0 auto;padding:3px 9px 0px 9px;}.hs-content dl{padding-top:18px;}.hs-picbanner{border:1px solid #ccc;background-color:#fff;padding:8px 0;overflow:hidden;_display:inline-block;}.hs-picbanner li{float:left;margin-left:9px;_display:inline;}
.hs-property dt{overflow:hidden;_display:inline-block;}.hs-property dt span,.hs-cont-tit a{display:block;width:122px;height:28px;line-height:28px;text-align:center;font-size:14px;background-position:-125px -32px;font-weight:bold;color:#5B5B5B;float:left;margin-right:5px;}.hs-property dt span.cur,.hs-cont-tit a.cur{background-position:0 -33px;color:#fff;text-decoration:none;}.hs-cont-tit a{cursor:pointer;text-decoration:none;}
.hs-property dd{border:1px solid #ccc;background:#fff;border-top:2px solid #E68A00;_display:inline-block;}.hs-property dd.hs-scroll{padding:15px;overflow:scroll;overflow-x:auto;}
.h-prodetail{width:900px;}
.hs-table th{background:#F5F5F5;width:100px;border-bottom:1px solid #ccc;color:#666;text-align:center;padding:8px 0;font-weight:normal;}.hs-table td{border-bottom:1px solid #ccc;padding-left:15px;}
.hs-chart{padding:22px 0;overflow:hidden;position:relative;}
.hs-chart-arr{overflow:hidden;position:absolute;width:926px;margin:85px 0 0 10px;text-indent:-999em;}
.hs-chart-arr li{width:25px;height:60px;display:block;cursor:pointer;}.hs-chart-arr li.l{background-position:-1px -188px;}.hs-chart-arr li.r{background-position:-41px -188px;}
.hs-chart-pic{padding-left:45px;}.hs-chart-pic li{float:left;width:270px;padding:0 0 0 15px;text-align:center;}.hs-chart-pic li h3{color:#646464;line-height:20px;}
.hs-chart-pic li p{line-height:180%;padding:5px 0;}
.hs-chart-pic li p span{color:#ff6600;}
a.btn_a,a.btn_b,a.btn_c,a.btn_d,a.btn_e{display:block;width:103px;height:31px;margin:0 auto;}a.btn_a{background-position:-259px -98px;}a.btn_b{background-position:-259px -131px;}a.btn_c{background-position:-259px -198px;}a.btn_d{background-position:-259px -165px;}a.btn_e{background-position:-259px -231px;}
.hs-sign{overflow:hidden;}.hs-sign .l{padding:10px 25px;}.hs-sign .l h4{width:544px;height:60px;text-indent:-999em;background-position:0 -270px;}.hs-sign span.hs-sign-pic{width:175px;height:175px;background-position:-368px -28px;display:block;padding:0;}
.hs-sign table.hs-sign-table{width:400px;padding:0;height:24px;line-height:24px;margin:20px 0 0 20px;}table.hs-sign-table th{width:60px;font-weight:normal;text-align:right;font-size:14px;padding-bottom:10px;}table.hs-sign-table td{padding-bottom:10px;color:#999;}
.hs-but{width:122px;height:40px;background-position:-125px -74px;border:none;cursor:pointer;}
.hs-sin{border:1px solid #d2d2d2;height:22px;line-height:22px;width:188px;vertical-align:middle;}
.hs-sign .r{width:260px;height:300px;border-left:1px solid #e8e8e8;background:#fafafa;padding-left:40px;}.hs-sign .r li{font-size:12px;height:21px;color:#666;}.hs-sign .r li span{color:#000;padding:0 10px;}.hs-sign .r b{padding:10px 0;display:block;}.hs-sign .r ul{padding-top:5px;}.hs-sign .r p span{color:#f60;}
.f-countdown{background-position:-366px -237px;overflow:hidden;width:190px;}
.f-countdown span{height:25px;line-height:25px;color:#fff;font-family:arial;font-size:16px;font-weight:bold;letter-spacing:4px;padding:0 5px 0 3px;}
.m-pro-t-bg,.m-pro-b-bg,.m-pro-t-bg em,a.m-pro-menu,.m-pro-info i,.malldis,.m-pro-arrow,.con-item dt.mall-tit,.m-dealicon,.mall-dealbox ul li.malldis{background:url(../pics/mall/mall_icon04.png);display:block;}
.con-item dt.mall-tit{background-position:-4px -152px;width:104px;height:23px;text-align:left;float:left;line-height:23px;margin-right:3px;padding-left:6px;}
.m-pro-info i{background-position:-204px -50px;left:-25px;width:30px;}.m-pro-arrow{background-position:-176px -50px;left:-24px;width:28px;}.m-pro-info i,.m-pro-arrow{position:absolute;z-index:9;height:60px;top:93px;}
.m-pro-info{width:258px;position:absolute;top:-3px;right:-254px;z-index:9;}
.m-pro-t-bg{height:38px;color:#000;font:14px/43px \5B8B\4F53;padding-left:15px;overflow:hidden;}
.m-pro-t-bg em{background-position:-244px -57px;width:8px;height:9px;position:absolute;top:16px;right:16px;cursor:pointer;}
.m-pro-c{background:url(../pics/deal/mall_c_bg.png) repeat-y;display:block;overflow:hidden;padding-left:4px;}
.m-pro-c li{border:1px solid #e4e4e4;background:#F4F4F4;width:110px;margin:12px 0 5px 8px;display:inline;float:left;overflow:hidden;height:93px;line-height:23px;}
.m-pro-c li a{color:#666;padding-left:5px;}
.m-pro-b-bg{background-position:0 -38px;height:11px;}
a.m-pro-menu{background-position:0 -56px;width:172px;height:37px;margin:10px auto 3px auto;}
.m-pro-line{width:230px;margin:10px 0 0 10px;clear:both;border-top:1px dotted #CCC;text-align:center;display:inline-block;}
.h-fm{width:1188px;margin:0 auto;position:relative;}em{font-style:normal;}input,select{vertical-align:middle;}
.h-nav-fm,a.h-tel,.h-banner em,.h-banner-1 em,.h-submit-btn{background:url(../pics/deal/deal_house03.png);}
.h-nav-fm{background-position:0 -411px;background-repeat:repeat-x;border:1px solid #ffd88f;height:35px;padding-top:3px;overflow:hidden;line-height:35px;width:950px;margin:0 auto;}
.h-nav{padding-left:15px;}.h-nav li{float:left; font:bold 14px \5B8B\4F53;padding:0 18px;}.h-nav li a{color:#666;text-decoration:none;}.h-nav li a:hover{color:#f60;text-decoration:none;}
.h-nav a.on{color:#f60;background:url(../pics/www/nav_arrow.gif) no-repeat center bottom;display:block;}
a.h-tel{background-position:0 -358px;width:225px;height:23px;margin:6px 0 0 27px;}
.h-banner,.h-banner-1{position:fixed;top:157px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));z-index:99;}
.h-banner em,.h-banner-1 em{position:absolute;background-position:-242px -364px;width:10px;height:10px;cursor:pointer;right:3px;top:3px;}
.h-tel-fm{border:1px solid #fead79;border-top:none;background:#FFF;padding:30px 95px 60px 95px;}
.h-t-text,.h-t-text1{color:#88250e;font-size:16px;text-indent:24px;line-height:24px;padding:0 70px;}.h-t-text1{padding:0;}
.h-tel-fm1{background:url(../pics/deal/deal_house06.png) 0 -239px;background-repeat:no-repeat;background-position:bottom;padding-bottom:48px;margin-top:15px;font-size:14px;color:#666;position:relative;}
.h-tel-fm2{border:1px solid #EBEBEB;background:#F5F5F5;}.h-tel-fm3{border:1px solid #EBEBEB;background:#fbf4e3;}
.h-tel-fm1 p{padding-top:6px;line-height:22px;}.h-tel-fm1 em{color:#F60;font-style:normal;}
.h-table{font-size:14px;border:1px solid #FFF;}.h-table .t{color:#000;text-align:right;width:210px;}
.h-table tr td{padding-bottom:10px;}.h-table em{color:#CC0000;font-size:12px;}
.h-city{font-size:12px;color:#666;width:100px;float:left;margin-right:5px;height:21px;}
.hs-sin-1,.hs-sin-2{font-size:14px;color:#000;text-indent:3px;border:1px solid #D2D2D2;height:21px;line-height:21px;width:153px;float:left;font-weight:bold;}.hs-sin-2{padding:6px 0;width:328px;}
.h-table label{width:110px;float:left;}
.h-submit-btn{background-position:-277px -342px;width:130px;height:55px;border:none;cursor:pointer;text-indent:-999em;display:block;}
.h-t-1,.h-t-2,.h-t-3{width:630px;height:40px;margin-top:35px;background:url(../pics/deal/deal_house06.png)}
.h-t-1{background-position:-20px -2px;}.h-t-2{background-position:-20px -62px;}.h-t-3{background-position:-20px -119px;}
.hs_pic_1{width:582px;display:block;font:18px/120% \9ED1\4F53;color:#DE2B00;padding:5px 0;}
.h-share-qq{background:#f6f6f6;font-size:14px;font-weight:bold;text-align:right;padding:10px 8px;border-left:1px solid #FFD88F;border-right:1px solid #FFD88F;position:relative;bottom:-10px;width:934px;margin:-10px auto 0 auto;}
.detail-bg-t950,.detail-bg-b950{background:url(../pics/deal/hspay_tb.png) no-repeat;}
.hspay-box h3,.hspayicon,.hsli-old,.hsli-new{background:url(../pics/deal/hspay_btn.png) no-repeat;}
.detail-bg-t950{height:9px;overflow:hidden;}
.detail-bg-b950{background-position:0 -18px;height:9px;overflow:hidden;}
.detail-mid950{border:1px solid #FEAD79;border-width:0 1px;background:#fff;padding-bottom:10px;}
.hspay-pic{background:url(../pics/deal/hspay_pic.gif) no-repeat center;text-indent:-999em;border-bottom:1px dashed #FEBF96;height:140px;}
.hspay-box{padding:25px 10px 10px 10px;}.hspay-box h3{text-indent:-999em;width:190px;height:26px;background-position:0 -9px;margin-left:20px;}
.hspay-con{background:#F6F6F6;padding:20px 0;margin-top:10px;}
.hspay-tab td{padding:5px 0;line-height:160%;}
.hspay_on,.hspay_off{width:133px;height:32px;cursor:pointer;border:none;margin-right:20px;font-size:16px;color:#fff;font-weight:bold;}
.hspay_on{background-position:0 -89px;}.hspay_off{background-position:-150px -89px;}
.c-pal-btn{background-position:-285px -255px;}
.cont-cloth{padding:10px 0 0 0}.clothlist dl{padding-bottom:6px;_display:inline-block;}.clothlist dd{border:1px solid #FF9967;padding:4px;background:#fff;display:inline-block;position:relative;width:690px;}.clothlist dt{background:url(../pics/deal/choth_bg.jpg) no-repeat top right;height:4px;overflow:hidden;}.clothlist dd ul{width:208px;overflow:hidden;text-align:center;}.mallpic{width:500px;}.mallsl{display:block;height:30px;line-height:30px;background:#F0F0F0;color:#666;font-size:14px;padding:0 10px;}
.malllogo{width:165px;height:90px;padding:4px 0 5px; display:inline-block;}.malldis{background-position:-3px -99px;margin:0 auto;width:112px;height:47px;text-align:left;}.malldis a,.malldis a:hover{font-family:Arial;text-align:center;width:110px;font-size:23px;color:#fff;line-height:49px;display:inline-block;text-decoration:none;}.malldis a b{font-family:"\9ED1\4F53";color:#fff;font-size:16px;font-weight:normal;}.malltime{font-family:Arial;font-size:12px;color:#B0B0B0;}.mallslogan{font-size:14px;font-weight:bold;color:#7B7B7B;padding-top:5px; height:16px; overflow:hidden; display:inline-block; width:178px;}.mallgz{font-family:"\9ED1\4F53";font-size:25px;padding:5px 0;color:#FF6501;}.malladd{text-align:left;color:#343434;line-height:140%;padding-bottom:5px;}.malltel,.malldate{text-align:left;color:#999;line-height:160%;}.mallnum{line-height:17px;color:#999;vertical-align:top}.mallnum b{color:#C51800;font-size:17px;font-family:Arial}
.hs_2shou,.hs_new{background-position:0 -244px;width:69px;height:69px;position:absolute;top:4px;left:4px;z-index:2;}
.hs_new{background-position:-77px -244px;}
.hspal-table th{background:#F5F5F5;width:220px;border-bottom:1px solid #ccc;color:#666;text-align:left;padding:8px 0 8px 15px;font-weight:normal;}.hspal-table td{border-bottom:1px solid #ccc;padding-left:15px;color:#666;}
.hs-nav-n{height:27px;position:relative;border-bottom:3px solid #F8580B;width:950px;margin:0 auto;}
.hs-navleft{height:27px;}.hs-navleft li{float:left;margin-right:3px;text-indent:20px;height:27px;}.hs-navleft li a,.hs-navleft li a:hover{display:block;text-decoration:none;font-size:14px;font-weight:bold;width:120px;height:27px;line-height:27px;position:relative;}.hs-navleft li span{display:block;float:left;cursor:pointer;}
.hs-navleft li em{width:15px;height:14px;margin:7px 0 0 4px;float:left;cursor:pointer;}.hsli-new em{background-position:-261px -328px;}.hsli-old em{background-position:-279px -328px;}
.hsli-new{background-position:0 -320px;}.hsli-old{background-position:-123px -320px;}.hsli-new a,.hsli-new a:hover{color:#fff;}.hsli-old a,.hsli-old a:hover{color:#666;}
.hs-navside{padding:5px 0 0 20px;}.hs-navside li{float:left;padding:0 10px;border-right:1px solid #999;}
.hs-navright{background-position:-2px -356px;width:152px;height:25px;text-indent:-999em;margin-top:2px;}
.hs-detail,.hs-paldetail{border:1px solid #FE9F61;background:#fff;padding-bottom:15px;}
.hs-dettit{display:block;width:120px;height:31px;line-height:31px;text-align:center;float:left;background-position:0 -384px;color:#fff;font-weight:bold;}
.hs-detail dl{width:928px;margin:0 auto;}.hs-detail dl dt{font-size:14px;font-weight:bold;padding-bottom:10px;}.hs-detail dl dd{border:1px solid #ccc;}
.movies-mid{background:url(../pics/deal/movie_bg.gif) repeat-x bottom #FEFEFE;border:1px solid #D7D7D7;margin:30px 27px 0 27px;padding:0;}
.movies-mid h1 a{color:#000;}
.movies-line{border:1px solid #FFF;padding:10px 0 15px 15px;}
.movies-l-fm{border:1px solid #feae7a;background:#fff4df;margin-top:8px;height:210px;overflow:hidden;}
.movies-b-bg{background:url(../pics/deal/movie_bg_01.gif) no-repeat;width:861px;height:10px;position:relative;top:0;left:45px;}
.movies-none,.movies-none-1{background:none;border:none;}.movies-none-1{border-top:1px dotted #dbd5c7;padding:8px 0;margin:0 8px;}
.bea-list-logofm,.bea-list-title,.bea-t-logo,.bea-t-logo span{background:url(../pics/deal/bea-list-bg.png);}
.bea-list-logofm{width:950px;height:62px;margin-bottom:12px;overflow:hidden;}
.bea-list-logofm dd{margin-left:104px;padding-top:13px;}.bea-list-logofm dd a{margin-left:5px;}
.bea-list-title{background-position:0 -75px;height:53px;background-repeat:no-repeat;overflow:hidden;}
.bea-fm{margin-top:12px;}
.bea-list-fm{background:#FFF;border:1px solid #e4e4e4;border-top:none;margin:0;padding:0 16px;overflow:hidden;_display:inline-block;}
.bea-t-logo{margin:6px 0 0 15px;background-position:0 -131px;height:35px;padding:3px 0 3px 8px;display:inline;}
.bea-t-logo img,.bea-list-logofm dd{height:35px;overflow:hidden;}
.bea-t-logo span{background-position:right -173px;padding-right:12px;padding:3px 12px 3px 0;height:35px;margin-top:-3px;display:block;float:left;}
.bea-t-text{color:#838383;font:15px/53px "microsoft yahei";padding:0 15px;text-shadow:1px 1px 1px #fff;display:inline;}
.search-fm{background:#fff;border:1px solid #ff9f6d;color:#434343;display:inline-block;width:698px;padding-bottom:15px;}
.search-tit{background:#F6F6F6;margin:1px;padding:15px 22px;}
.s-pro-list{border-top:1px solid #e5e5e5;margin-bottom:15px;padding-top:10px;}
.s-pro-list a{color:#6e6e6e;text-decoration:none;}.s-pro-list a:hover{color:#0066cc;text-decoration:none;}
.s-pro-tit{margin-left:24px;}.s-pro-tit strong{color:#E60012;padding:0 8px;}
.s-pro-list dl{background:url(../pics/deal/s-pro-bg.gif) repeat-x;border-bottom:1px dotted #C2C2C2;padding:15px 0;overflow:hidden;position:relative;_width:698px;height:111px;}
.s-pro-list dt{float:left;padding:1px;border:1px solid #d9d9d9;margin:0 15px 0 24px;display:inline;}
.s-pro-list dd{width:385px;overflow:hidden;line-height:21px;}
.s-pro-test{height:65px;margin-bottom:15px;overflow:hidden;}.s-pro-test span{background:#f85a0e;color:#FFF;padding:1px 3px;margin:0 3px;}
.s-price strong{font-size:24px;font-family:Arial;color:#E60012;margin-right:12px;}.s-price em{color:#585858;padding:0 8px;}
a.search-arrow{background:url(../pics/deal/search-arrow.gif) no-repeat;width:16px;height:31px;position:absolute;right:28px;top:55px;}
.add-fm{border:2px solid #CBD1DB;width:946px;background:#FFF;margin:0 auto;padding-bottom:18px;}.add-list{margin:18px;}
.add-area{width:177px;height:33px;border:1px solid #d4d4d4;border-bottom:none;background:#F2F2F2;color:#000;line-height:33px;text-align:center;font-size:14px;}.add-area em{color:#666;font-size:12px;font-family:Arial;}
.add-width{border:1px solid #d4d4d4;overflow:hidden;_display:inline-block;}
.add-list ul{width:840px;border-left:1px dotted #C3C3C3;float:left;}
.add-list li{float:left;width:279px;color:#666;line-height:21px;border-right:1px dotted #C3C3C3;padding-bottom:15px;height:180px;overflow:hidden;}
.add-shop{line-height:30px;height:30px;color:#FF6600;border-bottom:1px solid #d4d4d4;width:270px;display:inline-block;padding-left:13px;margin-bottom:12px;font-size:14px;}
.add-list ul li p{padding:0 10px 0 13px;}
a.add-left-arrow,a.add-right-arrow{background:url(../pics/deal/add_arrow.gif);width:15px;height:30px;display:block;float:left;margin:81px 9px 0 9px;display:inline;}
a.add-right-arrow{background-position:-15px 0;}
.add-pro{border:1px solid #d4d4d4;background:#F2F2F2;padding:10px 10px 10px 35px;margin:0 18px;overflow:hidden;_display:inline-block;color:#666;font-size:14px;line-height:21px;}.add-pro a{font-family:"\5B8B\4F53"}
a.add-pro-tit{color:#666;}
.mall-dealbox{border:1px solid #DE260A;background:#fff;margin-bottom:10px;}.mall-dealbox h3{background-position:0 -186px;}.mall-dealbox h3 a{width:238px;height:60px;display:block;}.mall-dealbox h3 img{margin:10px 0 0 8px;}.mall-dealbox ul li{text-align:center;}.mall-dealbox ul li.malldis{width:142px;height:47px;background-position:-3px -252px;}
.deal-add-fm{border:1px solid #D2D2D2;overflow:hidden;}
.deal-shop-name{border-top:1px solid #d2d2d2;background:#f2f2f2;line-height:35px;height:35px;color:#000;font-size:14px;padding-left:15px;display:block;}
.deal-add-fm1{font-size:12px;color:#666;border-top:1px solid #d2d2d2;overflow:hidden;_display:inline-block;}
.deal-add-fm1 dl{padding:10px 15px;}
.deal-add-fm1 dd{padding-bottom:3px;}.deal-add-fm1 dt{color:#F60;font:bold 12px \5B8B\4F53;}
.deal-add-list dl{width:293px;float:left;border-right:1px dotted #C3C3C3;padding-bottom:300px;margin-bottom:-300px;}.deal-add-list .list{border-right:none;_border-left:1px dotted #C3C3C3;_margin-left:-1px;padding-left:16px;}
a.more-add-btn{background:url(../pics/deal/more-add-btn.png);width:137px;height:24px;font:12px/24px \5B8B\4F53;font-weight:normal;color:#000;display:block;margin:6px auto;text-align:center;}
.limit-tab,.limit-tab li a.on,a.limit-but{background:url(../pics/deal/limitbuy_icon.png) no-repeat;}
.limit-tab{border:1px solid #CCC;height:29px;border-bottom:none;width:268px;background-position:0 -38px;background-repeat:repeat-x;padding-left:25px;margin-top:5px;_overflow:hidden;}
.limit-tab li{float:left; font: bold 16px/30px "Microsoft Yahei","\9ED1\4F53";width:134px;text-align:center;}
.limit-tab li a,.limit-tab li a:hover{color:#f96314;text-decoration:none;}
.limit-tab li a.on{height:35px;display:block;top:-6px;_top:-5px;color:#FFF;overflow:hidden;position:relative;line-height:38px;right:-1px;}
.limit-tab li a.on:hover{color:#FFF;}
.limit-fm{border:1px solid #FEAD79;padding:15px;background:#FFF;border-top:3px solid #f96314;}
.limit-list ul,.limit-list ul li{border:none;}
.limit-list ul{padding-top:10px;padding-bottom:10px;display:inline-block;}
a.notice-title{color:#000;font-weight:bold;line-height:20px;}
.limit-time{background:#FFF8E6;color:#ff3300;}
.notice-time{background:#EBEBEB;color:#000;}
.limit-time,.notice-time{height:30px;line-height:30px;text-align:center;font-size:14px;}
.notice-time strong,.limit-time strong{font-size:16px;font-weight:normal;}
.limit-price{margin:8px 0 18px 0;font-size:14px;color:#666;overflow:hidden;}
.limit-price strong{font-size:18px;color:#c00;font-family:Arial;}
a.limit-but{text-indent:-999em;background-position:-1px -69px;width:90px;height:40px;display:block;overflow:hidden;}
.limit-tit-time{float:left;_margin-top:3px;}
.limit-tit-time input{cursor:pointer;margin:-2px 5px 0 0;*margin-top:0;overflow:hidden;border:none;font-family:Arial;vertical-align:middle;}
.limit-tit-time li{margin-left:15px;float:left;display:inline;}
.lsm-refund7-no .c_cion{ background-position:0 -342px;}.lsm-refundout-no .c_cion{ background-position:0 -374px;}
.lsm-refund7 .c_cion{ background-position:-0 -438px;}.lsm-refundout .c_cion{ background-position:0 -406px;}
.lsm-refund span a,.lsm-refund span a:hover{width:175px;height:31px;line-height:30px;text-align:left;margin-top:6px;color:#666;text-indent:65px; overflow:hidden; text-decoration:none;display:block;}
.lsm-left{ width:227px;}
.lsm-price strong{ font-size:14px; padding-left:2px;}
.lsm-price{ font-size:12px; padding-right:6px;}
.lsm-deal-add{ text-align:center;}
.mall-add-btn{margin-top:85px;border-bottom:1px solid #c9e1ff; padding:8px 0; text-align:center;height:43px;}
.mall-add-btn a{ display:inline-block; margin:0 2px; cursor:pointer;height:43px;}
a.lsm-deal-add{ background-position:-92px -132px; width:122px;}
a.lsm-deal-buy{ background-position:-92px -178px; width:80px;}
a.lsm-deal-add,a.lsm-deal-buy{height:43px;}
.m-money-sym{ background-position:-41px -40px;width:37px; height:37px; position:absolute; top:20px; left:16px;}
.lsm-pro-box{ padding-top:20px; font-size:14px;line-height:25px; }
.lsm-pro-box dl strong,.lsm-pro-box1 h1{ color:#333; font-size:14px; font-weight:bold;}
.lsm-pro-box dl{ clear:both; margin-bottom:12px; overflow:hidden; _display:inline-block; padding-left:10px; }
.lsm-pro-box dd{ text-align:center;}.lsm-pro-box dd input{ width:81px; height:15px; border:1px solid #a7a7a7; text-align:center; color:#000; padding:5px 0;}
.lsm-pro-box dt{ float:left; color:#666;position:relative; width:360px; height:25px; overflow:hidden; margin-top:2px;}
.lsm-pro-box1{ padding-bottom:15px;border-bottom:1px dotted #999; overflow:hidden;_display:inline-block; font-size:12px;}
.lsm-add-icon{ background-position:0 -133px; width:90px; height:90px; margin:0 15px; display:inline;}
.lsm-pro-box1 a{ color:#333; font-family:\5b8b\4f53}
a.lsm-buy-btn2{ width:70px; background-color:#ff6600; border-color:#ff863e #e64b00 #e64b00 #ff863e;}
a.lsm-con-btn{ width:92px; background-color:#7db923; border-color:#90d42a #62a104 #62a104 #90d42a;}
a.lsm-buy-btn2,a.lsm-con-btn{color:#FFF; height:21px; line-height:21px; overflow:hidden;border:1px solid; text-align: center;margin:4px 5px 4px 0; font-family:\5b8b\4f53; text-decoration:none;}
.lsm-buy-list{ padding:10px 0 ; display:inline-block;font-size:12px;}
.lsm-buy-list h1{color:#333; padding-left:24px;}
.lsm-buy-list a{ color:#333;}
.lsm-buy-list li{ float:left; width:85px; margin:5px 10px 5px 24px; display:inline;}
.lsm-buy-list .text{ height:25px; line-height:25px; overflow:hidden;}
.lsm-buy-list .pic{ border:1px solid #CCC;}
.lsm-buy-list .price{ color:#FF6600; font-family:Arial;}.lsm-buy-list .price strong{ font-size:14px; padding-left:3px;}
.lsm-total-2{ background:#fff8f1; border-top:1px solid #ccc; font-size:12px; padding:8px 22px 15px 7px;overflow:hidden; _display:inline-block;}
.mall-add-btn.mall-btn01{ border-bottom:none; margin:0;}
.c-pro-buy.m-pro-buy{background-position:-13px -475px; width:287px; height:60px; margin-left:-69px;}
.c-buy-num.m-buy-num{ padding:8px 0 0 70px; width:auto; text-align:left;}
.c-pro-pic{ position:relative; width:440px;margin:10px 0;}
a.deal-arrow-l,a.deal-arrow-r{ background:url(../pics/deal/deal_arrow.jpg) no-repeat;}
a.deal-arrow-l{ left:0;}a.deal-arrow-r{ right:0; background-position:-12px 0;}
a.deal-arrow-r{ width:12px; height:49px;}
a.deal-arrow-l,a.deal-arrow-r{ width:12px; height:49px;cursor:pointer; display:block; position:absolute; top:7px;}
.c-pro-pic ul{ position: absolute; }
.c-pro-pic li{ float:left; width:93px; height:58px; margin:0 2px; display:inline; overflow:hidden;display:block; padding:1px; border:1px solid #e0e0e0;}
.c-pro-pic li.on{border:2px solid #999; padding:0;}
.deal-share{position:absolute; right:9px; bottom:4px; background:#fff;width:446px;}
.deal-share-fm{ border:1px solid #fdd278; background:#fff7e8;width:420px; margin-right:6px; padding:5px 9px; line-height:21px; color:#333; position: relative;display:inline;}.deal-share-fm .close{position:absolute; color:#000; right:10px; top:0; cursor:pointer; font-size:16px; font-family:\9ED1\4F53;}.deal-share-fm em{background-position:-278px -84px;width:9px; height:6px; display:block; position:absolute; bottom:-6px; _bottom:-15px;right:112px;}
.cont-share.box{ border:none; width:auto; background:none; float:right;}
.cont-share li.deal-collection{background-position:-1px -234px;width:71px; height:21px;cursor:pointer; margin-top:0; margin-right:6px; color:#000;}
li.deal-collection a{ padding:3px 0 0 16px; width:55px; _padding-top:5px;text-align:center;}
.deal-bottom-num{padding:0 20px; position:relative; line-height:25px; height:25px;font-size:14px; color:#666; }
.deal-bottom-num .buy{position:absolute; right:20px; color:#000; bottom:0; vertical-align:bottom;}
.deal-bottom-num .buy strong{ color:#C51800; font-family:Arial; font-size:18px; vertical-align:middle; padding-right:5px;}
.choose-bot-fm{ border-top:1px solid #FEAD79; padding:5px 15px; overflow:hidden; _display:inline-block;}
.choose-bot-fm .deal-choose dl{ width:310px;}
.choose-bot-fm .deal-choose .color li{ margin-top:5px; margin-bottom:3px;}
a.deal-buy-btn{ background-position:-285px -314px; width:80px;}a.deal-add-btn{ background-position:-368px -314px; width:120px;}

.det-map-city{ position:absolute; z-index:2; top:0px; left:95px;}
.det-map-title{ display:inline-block; margin:4px 0 0 0; padding:0 20px 0 10px; position:relative;_float:left;}.det-map-title a{ font-size:12px; color:#F95A0E; font-weight:normal; display:inline-block; padding:6px 0}.det-map-title em{ background: url(../pics/www/icon_1020006.png) no-repeat -123px -4px; height:4px; width:8px; display:inline-block; margin:10px 0 0 5px; position:absolute; top:2px;}
.mt-on{ border:1px solid #ccc; border-width:1px 1px 0 1px; background:#fff;}
.det-map-list{ border:1px solid #ccc; border-width:1px 0 1px 1px; background:#fff; margin-top:-1px; padding:8px 10px 0 10px; width:624px}.det-map-list a{ display:inline-block; margin:0 10px 10px 0;}
.det-city-box{ position:absolute; border:1px solid #999; background:#fff; width:548px; height:298px; top:110px; left:95px; z-index:2;}
.det-city-tit{border-bottom:1px solid #EDEDED;}.det-city-tit h3{ height:23px; line-height:23px; background:#F9F9F9; padding:0 10px; border:1px solid #fff; }
.det-hot-chs{ display:block; border-bottom:1px dotted #E3E3E3; padding:10px 10px 0px 10px;}.det-hot-chs a{ display:inline-block; margin:0 10px 10px 0;}
.det-city-pinyin{ padding:0px 10px; margin:5px 0; overflow-x:hidden; overflow-y:auto; height:190px; position:relative;}
.det-city-pinyin dl{ line-height:22px; position:relative;}.det-city-pinyin dt{width:22px;font-weight: bold;float: left;font-family: Arial;font-size: 18px;color: #ababab;}.det-city-pinyin dd{padding-left: 15px;margin: 0 0 25px 0px;border-left: 1px dashed #B2B2B2; display:block;_display: inline-block; overflow:hidden;}
.det-city-pinyin dd span{ display:inline-block; width:400px; float:left;}.det-city-pinyin dd span.dc_t{ width:50px; color:#888;}
.det-city-pinyin dd a{display: inline-block;color: #888;font-size: 12px;padding: 0 8px;text-decoration: none;}
.det-city-pinyin dd a:hover{background: #FB7423;color: white;text-decoration: none;}
.package{ border-top:1px solid #FFF; border-bottom:1px solid #C9E1FF; padding:10px 0 5px 6px;}
.package a{ cursor:pointer; display:inline-block; margin:0 2px 5px 2px;width:98px; height:34px; overflow:hidden; line-height:32px; background-position:0 -360px; color:#720c00;text-align:center;}
.package em{ font-family:Arial; padding-left:3px; }
.package a:hover,.package a.on{ background-position:-99px -360px; color:#FFF; text-decoration:none;}
.package a.soldout,.package a.soldout:hover{ color:#3F3F3F;background-position:-198px -360px; cursor:default;}

