@charset "utf-8";
/* CSS Document */

.new_info{ padding:1px 24px 30px 24px; font-size:14px;}
.new_info p{ line-height:25px; color:#666;}
.new_info p img{ margin-bottom:10px;}
.new_info p.size14 strong{ color:#333;}
.new_info .yel{ color:#ff6600;}
.indent2em{ text-indent:2em;}
.size14{ font-size:14px;} 
.new_h2_1{ width:100%; height:40px; position:relative; margin:20px 0px 20px 0px;}
.new_h2_1 h2{ background:url(../../pics/hotel/hotgroup/titlebj2.gif) no-repeat; width:640px; height:34px; line-height:27px; font-size:12px; position:absolute; top:0px; left:-30px; padding:3px 0px 3px 30px; display:block; font-weight:normal; color:#FFF;}
.new_h2_1 h2 strong{ font-size:14px; color:#ff6600; background:#FFF; width:78px; height:26px; line-height:26px; display:inline-block; text-align:center; margin-right:15px; border:1px solid #e53803;}
.new_h2_1 h2 a{ color:#FFF;}
.new_h2_1 h2 a:hover{ text-decoration:none; color:#FFF;}
.todyinfo{ overflow:inherit}
.margin_t_10{ margin-top:10px;}
.new_info h2.margin_t_10{ margin:10px 0px 20px 0px;}
.todyinfo .hzp_mid{ padding:10px 0px;}

.unit_left_d02{ width:670px; height:320px;}
.duo_pic{ width:670px;height: 320px; position:relative;overflow: hidden;}
.package{ width:670px;}
#thumb-view{ width:670px; height:29px; padding:5px 0px; text-align:right; background:url(../../pics/hotel/hotgroup/scrollbj.png) repeat-x; position:absolute; left:0px; bottom:0px; z-index:1000; overflow:hidden;}
#thumb-view a{ width:50px; height:25px; border:2px solid #FFF; margin-right:5px; padding:0px; float:none; display:inline-block;}
#thumb-view a.hover{ border:2px solid #fec921; padding:0px; background:none;}
#thumb-view a img{ width:50px; height:25px; display:block; cursor:pointer;}
.hoverNav {position:absolute;left:0;top:0;height:100%;width:100%;z-index:100;display:none}
.prevLink, .nextLink {background:transparent url(blank.gif) no-repeat scroll 0 0;display:block;height:270px;width:30%;position:absolute;}
.prevLink { left: 0;}
.nextLink { right: 0;}
.prevLink { background: url(../../pics/hotel/hotgroup/gallery-sprites.gif) no-repeat -60px 50%;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity: 0.6;opacity: 0.6;}
.nextLink{ background: url(../../pics/hotel/hotgroup/gallery-sprites.gif) no-repeat 145px 50%;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity: 0.6;opacity: 0.6;}
.yel_box{ background:url(../../pics/hotel/hotgroup/yelbj.gif) repeat-x; width:422px; height:61px; padding:6px 13px; border:1px solid #fec66f; margin:0px;}
.yel_box p{ line-height:30px; font-size:14px;}
.yel_box .r{ margin:0px; text-align:right;}
.trip_pos{position:relative;z-index:1000}
.trip_pos .trip_buy{position:absolute;width:255px;height:94px;top:0px;left:-70px;font-weight:bold;padding-left:40px;z-index:1000}
.color_720c00{ font-size:18px; color:#720c00;}
.bg_hei{ height:23px; line-height:23px; width:32px; text-align:left; letter-spacing:5px; padding-left:5px; display:inline-block; color:#FFF; font-size:20px; font-weight:bold; font-family:Arial; margin-right:1px; background:url(../../pics/hotel/hotgroup/img_bj.png) -248px 0px no-repeat;}
.time_mh{ width:12px; text-align:center; height:23px; line-height:23px; overflow:hidden; font-family:'宋体'; font-size:26px; display:inline-block;}
.deal_samebox .r p{ line-height:27px;}



.infraestructura{ width:640px; height:219px; margin-bottom:10px;}
.infraestructura li{ width:67px; height:69px; float:left; margin:0px 4px 4px 0px; display:inline;}
.infraestructura li.facility_1_1{ background:url(../../pics/hotel/hotgroup/propor01.jpg) left top no-repeat;}
.infraestructura li.facility_1_2{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -72px top no-repeat;}
.infraestructura li.facility_1_3{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -144px top no-repeat;}
.infraestructura li.facility_1_4{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -216px top no-repeat;}
.infraestructura li.facility_1_5{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -288px top no-repeat;}
.infraestructura li.facility_1_6{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -360px top no-repeat;}
.infraestructura li.facility_1_7{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -432px top no-repeat;}
.infraestructura li.facility_1_8{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -504px top no-repeat;}
.infraestructura li.facility_1_9{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -576px top no-repeat;}
.infraestructura li.facility_1_10{ background:url(../../pics/hotel/hotgroup/propor01.jpg) left -72px no-repeat;}
.infraestructura li.facility_1_11{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -72px -72px no-repeat;}
.infraestructura li.facility_1_12{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -144px -72px no-repeat;}
.infraestructura li.facility_1_13{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -216px -72px no-repeat;}
.infraestructura li.facility_1_14{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -288px -72px no-repeat;}
.infraestructura li.facility_1_15{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -360px -72px no-repeat;}
.infraestructura li.facility_1_16{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -432px -72px no-repeat;}
.infraestructura li.facility_1_17{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -504px -72px no-repeat;}
.infraestructura li.facility_1_18{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -576px -72px no-repeat;}
.infraestructura li.facility_1_19{ background:url(../../pics/hotel/hotgroup/propor01.jpg) left -144px no-repeat;}
.infraestructura li.facility_1_20{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -72px -144px no-repeat;}
.infraestructura li.facility_1_21{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -144px -144px no-repeat;}
.infraestructura li.facility_1_22{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -216px -144px no-repeat;}
.infraestructura li.facility_1_23{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -288px -144px no-repeat;}
.infraestructura li.facility_1_24{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -360px -144px no-repeat;}
.infraestructura li.facility_1_25{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -432px -144px no-repeat;}
.infraestructura li.facility_1_26{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -504px -144px no-repeat;}
.infraestructura li.facility_1_27{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -576px -144px no-repeat;}
.infraestructura li.facility_2_1{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) left top no-repeat;}
.infraestructura li.facility_2_2{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -72px top no-repeat;}
.infraestructura li.facility_2_3{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -144px top no-repeat;}
.infraestructura li.facility_2_4{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -216px top no-repeat;}
.infraestructura li.facility_2_5{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -288px top no-repeat;}
.infraestructura li.facility_2_6{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -360px top no-repeat;}
.infraestructura li.facility_2_7{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -432px top no-repeat;}
.infraestructura li.facility_2_8{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -504px top no-repeat;}
.infraestructura li.facility_2_9{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -576px top no-repeat;}
.infraestructura li.facility_2_10{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) left -72px no-repeat;}
.infraestructura li.facility_2_11{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -72px -72px no-repeat;}
.infraestructura li.facility_2_12{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -144px -72px no-repeat;}
.infraestructura li.facility_2_13{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -216px -72px no-repeat;}
.infraestructura li.facility_2_14{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -288px -72px no-repeat;}
.infraestructura li.facility_2_15{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -360px -72px no-repeat;}
.infraestructura li.facility_2_16{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -432px -72px no-repeat;}
.infraestructura li.facility_2_17{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -504px -72px no-repeat;}
.infraestructura li.facility_2_18{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -576px -72px no-repeat;}
.infraestructura li.facility_2_19{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) left -144px no-repeat;}
.infraestructura li.facility_2_20{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -72px -144px no-repeat;}
.infraestructura li.facility_2_21{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -144px -144px no-repeat;}
.infraestructura li.facility_2_22{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -216px -144px no-repeat;}
.infraestructura li.facility_2_23{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -288px -144px no-repeat;}
.infraestructura li.facility_2_24{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -360px -144px no-repeat;}
.infraestructura li.facility_2_25{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -432px -144px no-repeat;}
.infraestructura li.facility_2_26{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -504px -144px no-repeat;}
.infraestructura li.facility_2_27{ background:url(../../pics/hotel/hotgroup/pagar01.jpg) -576px -144px no-repeat;}
.infraestructura li.facility_0_1{ background:url(../../pics/hotel/hotgroup/no01.jpg) left top no-repeat;}
.infraestructura li.facility_0_2{ background:url(../../pics/hotel/hotgroup/no01.jpg) -72px top no-repeat;}
.infraestructura li.facility_0_3{ background:url(../../pics/hotel/hotgroup/no01.jpg) -144px top no-repeat;}
.infraestructura li.facility_0_4{ background:url(../../pics/hotel/hotgroup/no01.jpg) -216px top no-repeat;}
.infraestructura li.facility_0_5{ background:url(../../pics/hotel/hotgroup/no01.jpg) -288px top no-repeat;}
.infraestructura li.facility_0_6{ background:url(../../pics/hotel/hotgroup/no01.jpg) -360px top no-repeat;}
.infraestructura li.facility_0_7{ background:url(../../pics/hotel/hotgroup/no01.jpg) -432px top no-repeat;}
.infraestructura li.facility_0_8{ background:url(../../pics/hotel/hotgroup/no01.jpg) -504px top no-repeat;}
.infraestructura li.facility_0_9{ background:url(../../pics/hotel/hotgroup/no01.jpg) -576px top no-repeat;}
.infraestructura li.facility_0_10{ background:url(../../pics/hotel/hotgroup/no01.jpg) left -72px no-repeat;}
.infraestructura li.facility_0_11{ background:url(../../pics/hotel/hotgroup/no01.jpg) -72px -72px no-repeat;}
.infraestructura li.facility_0_12{ background:url(../../pics/hotel/hotgroup/no01.jpg) -144px -72px no-repeat;}
.infraestructura li.facility_0_13{ background:url(../../pics/hotel/hotgroup/no01.jpg) -216px -72px no-repeat;}
.infraestructura li.facility_0_14{ background:url(../../pics/hotel/hotgroup/no01.jpg) -288px -72px no-repeat;}
.infraestructura li.facility_0_15{ background:url(../../pics/hotel/hotgroup/no01.jpg) -360px -72px no-repeat;}
.infraestructura li.facility_0_16{ background:url(../../pics/hotel/hotgroup/no01.jpg) -432px -72px no-repeat;}
.infraestructura li.facility_0_17{ background:url(../../pics/hotel/hotgroup/no01.jpg) -504px -72px no-repeat;}
.infraestructura li.facility_0_18{ background:url(../../pics/hotel/hotgroup/no01.jpg) -576px -72px no-repeat;}
.infraestructura li.facility_0_19{ background:url(../../pics/hotel/hotgroup/no01.jpg) left -144px no-repeat;}
.infraestructura li.facility_0_20{ background:url(../../pics/hotel/hotgroup/no01.jpg) -72px -144px no-repeat;}
.infraestructura li.facility_0_21{ background:url(../../pics/hotel/hotgroup/no01.jpg) -144px -144px no-repeat;}
.infraestructura li.facility_0_22{ background:url(../../pics/hotel/hotgroup/no01.jpg) -216px -144px no-repeat;}
.infraestructura li.facility_0_23{ background:url(../../pics/hotel/hotgroup/no01.jpg) -288px -144px no-repeat;}
.infraestructura li.facility_0_24{ background:url(../../pics/hotel/hotgroup/no01.jpg) -360px -144px no-repeat;}
.infraestructura li.facility_0_25{ background:url(../../pics/hotel/hotgroup/no01.jpg) -432px -144px no-repeat;}
.infraestructura li.facility_0_26{ background:url(../../pics/hotel/hotgroup/no01.jpg) -504px -144px no-repeat;}
.infraestructura li.facility_0_27{ background:url(../../pics/hotel/hotgroup/no01.jpg) -576px -144px no-repeat;}
.text_align_r{ height:24px; margin:5px 0px 30px; text-align:right;}
.text_align_r span{ width:73px; height:26px; line-height:26px; font-weight:bold; font-size:14px; text-align:center; color:#FFF; margin-right:4px; display:inline-block;}
.text_align_r span.propor{ background:url(../../pics/hotel/hotgroup/propor01.jpg) left bottom no-repeat;}
.text_align_r span.pagar{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -78px bottom no-repeat;}
.text_align_r span.no{ background:url(../../pics/hotel/hotgroup/propor01.jpg) -156px bottom no-repeat;}

.jcss_title{ margin:15px auto;}